* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #a1e4cd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    width: 100%;
    text-align: center;
    padding: 2vh 0;
    background-color: #caa3ca;
}

.draw-board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    background-color: white;
    width: 500px;
    height: 500px;
}

.draw-board {
    width: 416px;
    height: 416px;
    /* background-color: aqua; */
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
}
.child {
    height: 52px;
    width: 52px;
    border: 1px solid black;
}

.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    padding: 2vh 0;
}

.tools button {
    padding: 8px 16px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #6e4d4b;
}